@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    margin: 0;
    font-family: Roboto;
}

.header,
.top_section,
.card_section,
.quote_section,
.sign-up_section,
.footer {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex: 1 1 auto;
}

.header{
    background-color: #1f2937;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
}


/* styling for the top section */
.top_section{
    background-color: #1f2937;
    height: 300px;
    justify-content: space-evenly;
    align-content: center;
    gap: 25px;
}
.top_left {
    width: 50%;
    display: flex; /* add this div to the list in lines 12-17*/
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.top_right {
    display: flex; /* add this div to the list in lines 12-17*/
    width: 50%;
    align-items: center;
    justify-items: center;
}

.top_section h1{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    display: inline;
    margin: 0;
}

.top_section p{
    font-size: 18px;
    color: #e5e7eb;
    display: inline;
    margin: 0;
}

.top_section img {
    border: #ffffff;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    height: auto;
} 
/* styling for the top section ends */
/* styling for the card section */
.card_section{
    background-color: #ffffff;
    height: 400px;
    flex-direction: column;
    text-align: center;
}
.card {
    max-width: 125px;

}
.card_section h1{
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.card p{
    margin-top: 0px;
    font-size: 12px;
    color: #1f2937;
}
.info_area {
    display: flex; /* add this div to the list in lines 12-17*/
    align-content: center;
    justify-content: center;
    gap: 35px;
}

.info_area img{
    width: 125px;
    height: 125px;
    border-color: #3882f6;
    border-width: 3px;
    border-style: solid;
    border-radius: 10%;
}
/* styling for the card section ends */
/* styling for the quote section */
.quote_section{
    background-color: #e5e7eb;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 30%;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    max-width: 650px;
    margin-bottom: 0px;
}
.quote_name {
    align-self: flex-end;
    margin-top: 5px;
}
/* styling for the quote section ends*/
/* styling for the sign-up section */
.sign-up_section{
    background-color: #ffffff;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.bluebox {
    background: #3882f6;
    display: flex;
    width: 900px;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    flex: 1 1 0;
}
.blue_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0;
}
.blue_left p{
    margin: 0px;
    margin-left: 15%;
    font-size: 14px;

}
.boldp {
    font-weight: 800;
}
.blue_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}
/* styling for the sign-up section ends */

/* footer styling below */
.footer{
    background-color: #1f2937;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}
/* footer ends*/

/* ul, li and a elements styled below*/
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding-left: 5px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* styling for the button at the top of the page*/
button {
    width: 115px;
    height: 32px;
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

 /* styling for the button at the bottom of the page*/
.bluebox button {
    width: 115px;
    height: 32px;
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    font-size: 15px;
    font-weight: bold;
    border: solid;
    border-color: white; /* check the color and width etc for the border to match the assignment picture*/
    margin-left: 10px;
    animation: blink 1s linear infinite; /*adding a bit of animation*/
    cursor: pointer;  
}

/*adding a bit of animation*/
@keyframes blink {
    50%{
        opacity: 0;
    }
}
